<a href="https://play.google.com/store/"
  ><svg xmlns="http://www.w3.org/2000/svg" width="156" height="46" fill="none">
    <g clip-path="url(#a)">
      <path
        fill="#fff"
        stroke="#333"
        stroke-width="1.549"
        d="M151.86.635H3.176a2.54 2.54 0 0 0-2.54 2.537V42.51a2.54 2.54 0 0 0 2.54 2.538H151.86a2.539 2.539 0 0 0 2.541-2.538V3.172A2.539 2.539 0 0 0 151.86.635Z"
      ></path>
      <path
        fill="#333"
        stroke="#333"
        stroke-miterlimit="10"
        stroke-width=".155"
        d="M55.655 11.963c0 .875-.218 1.64-.765 2.186-.657.655-1.423.983-2.407.983-.985 0-1.75-.328-2.407-.983-.656-.656-.985-1.42-.985-2.404s.329-1.748.985-2.404c.656-.656 1.422-.984 2.407-.984.437 0 .875.11 1.313.328.437.219.765.437.984.765l-.547.546c-.438-.546-.984-.764-1.75-.764-.657 0-1.313.218-1.75.764-.548.438-.766 1.093-.766 1.858 0 .765.218 1.42.765 1.858.547.437 1.094.764 1.75.764.767 0 1.313-.218 1.86-.764a1.81 1.81 0 0 0 .548-1.312h-2.407v-.764h3.172v.327ZM60.689 9.232h-2.954v2.076h2.735v.765h-2.735v2.076h2.954v.765h-3.83V8.357h3.83v.875ZM64.299 14.914h-.876V9.122h-1.86v-.765h4.595v.765h-1.86v5.792ZM69.33 14.914V8.357h.875v6.557h-.874ZM73.925 14.914h-.874V9.122h-1.86v-.765h4.485v.765h-1.86v5.792h.11ZM84.318 14.149c-.656.655-1.422.983-2.407.983-.984 0-1.75-.328-2.407-.983-.656-.656-.984-1.42-.984-2.404s.328-1.748.984-2.404c.657-.656 1.423-.984 2.407-.984.985 0 1.75.328 2.407.984.656.656.985 1.42.985 2.404a3.39 3.39 0 0 1-.985 2.404Zm-4.157-.547c.438.438 1.094.765 1.75.765.657 0 1.313-.218 1.75-.765a2.634 2.634 0 0 0 .766-1.857c0-.765-.218-1.42-.765-1.858-.438-.437-1.094-.765-1.75-.765-.657 0-1.313.219-1.75.765a2.634 2.634 0 0 0-.767 1.858c0 .655.22 1.311.766 1.857ZM86.507 14.914V8.357h.984l3.173 5.136V8.357h.875v6.557h-.875l-3.392-5.355v5.355h-.765Z"
      ></path>
      <path
        fill="#333"
        d="M78.3 24.53c-2.624 0-4.703 1.966-4.703 4.698a4.666 4.666 0 0 0 4.704 4.698c2.625 0 4.704-1.966 4.704-4.698s-2.079-4.699-4.704-4.699Zm0 7.43c-1.421 0-2.624-1.202-2.624-2.841 0-1.64 1.203-2.841 2.625-2.841s2.625 1.092 2.625 2.84c0 1.749-1.203 2.842-2.625 2.842Zm-10.173-7.43c-2.626 0-4.704 1.966-4.704 4.698a4.667 4.667 0 0 0 4.704 4.698c2.626 0 4.704-1.966 4.704-4.698s-2.078-4.699-4.704-4.699Zm0 7.43c-1.422 0-2.626-1.202-2.626-2.841 0-1.64 1.204-2.841 2.626-2.841s2.626 1.092 2.626 2.84c0 1.749-1.204 2.842-2.626 2.842Zm-12.143-6.01v1.967h4.704c-.11 1.092-.547 1.966-1.094 2.513-.657.655-1.75 1.42-3.61 1.42-2.954 0-5.142-2.294-5.142-5.245 0-2.95 2.297-5.245 5.142-5.245 1.531 0 2.734.656 3.61 1.42l1.422-1.42c-1.203-1.092-2.735-1.966-4.923-1.966-3.938 0-7.33 3.278-7.33 7.211 0 3.934 3.392 7.212 7.33 7.212 2.188 0 3.72-.655 5.032-2.076 1.313-1.311 1.75-3.169 1.75-4.59 0-.436 0-.873-.109-1.201h-6.782Zm49.667 1.53c-.438-1.093-1.532-2.95-3.939-2.95-2.406 0-4.376 1.857-4.376 4.698 0 2.622 1.97 4.698 4.595 4.698 2.078 0 3.391-1.31 3.829-2.076l-1.531-1.092c-.547.765-1.204 1.31-2.298 1.31s-1.751-.436-2.298-1.42l6.236-2.622-.218-.546Zm-6.345 1.53c0-1.749 1.422-2.732 2.406-2.732.766 0 1.532.437 1.751.983l-4.157 1.748Zm-5.142 4.48h2.078V19.83h-2.078v13.66Zm-3.282-7.977c-.547-.547-1.422-1.093-2.517-1.093-2.297 0-4.485 2.076-4.485 4.699 0 2.622 2.08 4.589 4.485 4.589 1.095 0 1.97-.546 2.407-1.093h.11v.656c0 1.748-.985 2.732-2.517 2.732-1.203 0-2.078-.874-2.297-1.64l-1.75.766c.547 1.201 1.86 2.731 4.157 2.731 2.407 0 4.376-1.42 4.376-4.808v-8.304h-1.969v.765Zm-2.407 6.447c-1.422 0-2.626-1.202-2.626-2.841 0-1.64 1.204-2.841 2.626-2.841s2.516 1.202 2.516 2.84c0 1.64-1.094 2.842-2.516 2.842Zm26.693-12.13h-4.923v13.66h2.079v-5.136h2.844c2.297 0 4.486-1.64 4.486-4.262s-2.189-4.261-4.486-4.261Zm.11 6.666h-2.954v-4.698h2.954c1.531 0 2.406 1.31 2.406 2.294-.109 1.093-.984 2.404-2.406 2.404Zm12.581-1.967c-1.532 0-3.064.656-3.611 2.076l1.86.765c.438-.765 1.094-.983 1.86-.983 1.094 0 2.078.655 2.188 1.748v.11c-.328-.22-1.203-.547-2.079-.547-1.969 0-3.938 1.093-3.938 3.06 0 1.857 1.641 3.06 3.391 3.06 1.423 0 2.079-.656 2.626-1.312h.109v1.093h1.969v-5.245c-.218-2.514-2.078-3.825-4.375-3.825Zm-.219 7.43c-.657 0-1.641-.327-1.641-1.201 0-1.093 1.203-1.42 2.188-1.42.875 0 1.313.218 1.859.436-.218 1.311-1.313 2.186-2.406 2.186Zm11.486-7.211-2.297 5.9h-.109l-2.407-5.9h-2.188l3.61 8.304-2.079 4.59h2.079l5.58-12.894h-2.189Zm-18.379 8.741h2.079V19.831h-2.079v13.658ZM14.631 36.221c-.438-.218-.656-.764-.656-1.31V10.323c0-.437.11-.765.219-1.202.109-.218.328-.437.546-.655 4.705 4.698 9.3 9.397 13.894 14.096-4.704 4.37-9.299 8.96-14.003 13.658ZM33.229 17.755c-1.313 1.311-2.735 2.622-4.048 4.043-4.376-4.48-8.861-8.96-13.237-13.44 0 0 0-.11.109-.11 5.689 3.17 11.377 6.338 17.176 9.507ZM15.944 36.221c4.376-4.37 8.861-8.741 13.237-13.112 1.203 1.202 2.516 2.404 3.938 3.715-5.689 3.169-11.377 6.338-17.066 9.397h-.11ZM33.886 26.387c-1.422-1.311-2.735-2.622-4.157-3.934l4.266-4.261c.438.218.875.437 1.313.765 1.094.655 2.297 1.202 3.391 1.857.329.11.547.328.766.656.438.546.438 1.093 0 1.64-.219.218-.438.436-.766.545-1.531.984-3.172 1.858-4.813 2.732Z"
      ></path>
    </g>
    <defs>
      <clipPath id="a">
        <path fill="#fff" d="M0 0h155.629v45.682H0z"></path>
      </clipPath>
    </defs>
  </svg>
</a>
