---
const images = [
    "../../public/images/carousel/image1.png",
    "../../public/images/carousel/image2.png",
    "../../public/images/carousel/image3.png",
    "../../public/images/carousel/image4.png",
    "../../public/images/carousel/image5.png"


];
---


  <div class="relative overflow-hidden w-full h-[400px] max-md:h-[300px]">
    <div class="flex h-full animate-slide">
      {images.concat(images).map((image, index) => (
        <img
          src={image}
          alt={`Photo ${index + 1}`}
          class="h-full w-auto flex-shrink-0 object-cover"
        />
      ))}
    </div>
  </div>
  
  <style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
  
    @layer utilities {
      @keyframes slide {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
  
      .animate-slide {
        animation: slide 20s linear infinite; /* Ajusta duración según preferencia */
        width: calc(100% * 1); /* El ancho debe cubrir todas las imágenes */
      }
    }
  </style>