---
import Menu from "../icons/Menu.astro";
---

<header class="flex justify-between items-center w-full h-auto">
    
    <a href="">
        <img src="/logo.svg" alt="Logo RockTicket" class="w-auto h-[42px]">
    </a>
    
    <div> 
        <nav>
            <header>
                <i>
                    <Menu />
                </i>
            </header>
        </nav>
    </div>
</header>