
<div class="flex flex-col text-center justify-center align-middle h-96 gap-6">
    <h1 class="text-8xl max-sm:text-6xl">Dejate Contagiar <br> Por El <span>Rock.</span></h1>
    <p class="font-light text-xl">Descubre, compra y disfruta de tus conciertos favoritos con RockTicket.</p>
</div>