---
import Card from "../components/FeatureCard.astro";
import imgFeature1 from "../assets/images/features-img/Home-SonyXperia1II.svg";
import imgFeature2 from "../assets/images/features-img/Mockup-Tickets-SonyXperia1II.svg";
import imgFeature3 from "../assets/images/features-img/Mockup-Notifications-SonyXperia1II.svg";

---

<section
  class="flex justify-center flex-col items-center text-center py-10 max-w-screen-xl m-[auto]"
>
  <div
    class="flex justify-center align-middle flex-col py-10 mb-80 max-md:mb-0 gap-4"
  >
    <h2 class="font-geist font-bold text-6xl max-md:text-4xl">
      Todo lo que Necesitas <br /> para Disfrutar del Rock
    </h2>
    <!-- <p class="font-geist font-normal text-base leading-[120%]">
      Todo lo que Necesitas para Disfrutar del Rock
    </p> -->
  </div>
  <div class="flex items-center flex-col max-w-[-webkit-fill-available] gap-28 max-md:gap-0">
    <Card
      title="Explora Eventos Cercanos"
      paragraph="Descubre eventos de Rock en tu ciudad y encuentra los mejores festivales y conciertos personalizados según tus gustos."
      imageSrc={imgFeature1.src}
      bgColor="linear-gradient(180deg, #93C9C7 0%, #486362 100%)"
      direction="right"
    />
    <Card
      title="Compra de Tickets en Un Clic"
      direction="left"
      paragraph="Consigue tus entradas rápidamente con nuestro sistema de compra sencillo y seguro, sin largas esperas."
      imageSrc={imgFeature2.src}
      bgColor="linear-gradient(180deg, #57578A 0%, #171724 100%)"
    />
    <Card
      title="Notificaciones Personalizadas"
      direction="right"
      paragraph="No te pierdas ninguna oportunidad. Recibe alertas de nuevos eventos, preventas y promociones especiales."
      imageSrc={imgFeature3.src}
      bgColor="linear-gradient(180deg, #666 0%, #CCC 100%)"
    />
  </div>
</section>
