---
import video from "../assets/6174235-hd_1920_1080_30fps.mp4"
---

<section class="relative w-full h-full overflow-hidden max-md:h-[600px] shadow-lg">
    <!-- Contenedor del video con clases de Tailwind -->
    <video
      class="w-full h-full object-cover"
      autoplay
      loop
      muted
      playsinline
      poster=""
    >
      <source
        src={video}
        type="video/mp4"
      />
    </video>
    <!-- Overlay con degradado -->
    <div
      class="absolute inset-0"
      style="background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 50%) 36.5%, #000 98.28%);"
    ></div>

    <!-- Contenedor del texto encima del video -->  
  <div class="absolute inset-0 flex flex-col text-center justify-end items-center z-10 gap-6 pb-[10%] max-sm:p-4">
    <h2 class="font-geist font-bold text-6xl max-md:text-4xl">Siente la Energía del Escenario.</h2>
    <p class="max-w-[788px] font-geist font-normal text-base leading-[120%]">
      Explora lo mejor del rock en vivo. Desde los festivales más icónicos hasta
      los conciertos underground, RockTicket te conecta con la música que amas.
    </p>
  </div>
</section>
