---
const palabras = [
  'Rock',
  'Música',
  'Conciertos',
  'Festivales',
  'Bandas',
  'Escenario',
  'Guitarras',
  'Baterías',
];

const wordsUpper = palabras.map(palabra => palabra.toUpperCase());

---


<div class="relative overflow-hidden w-full h-16 bg-black">
  <!-- // Contenedor que se desliza -->
  <div class="flex animate-marquee whitespace-nowrap">
    {wordsUpper.map((word, index) => (
      <span
        class="text-gray-400 text-3xl font-semibold px-6 flex-shrink-0"
      >
        {word}
      </span>
    ))}
    {wordsUpper.map((word, index) => (
      <span
        class="text-gray-400 text-3xl font-semibold px-6 flex-shrink-0"
      >
        {word}
      </span>
    ))}
    {wordsUpper.map((word, index) => (
      <span
        class="text-gray-400 text-3xl font-semibold px-6 flex-shrink-0"
      >
        {word}
      </span>
    ))}
  </div>
</div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-33.333%); /* Mueve un tercio por repetición */
      }
    }

    .animate-marquee {
      animation: marquee 25s linear infinite; /* Ajusta duración según preferencia */
      width: max-content; /* Se asegura de que el contenido ocupe todo su tamaño */
    }
  }
</style>



