---
import Button from "../components/Button.astro";
---

<section
  class="flex justify-end items-center flex-col w-full h-[800px] max-lg:h-[700px] max-md:h-[600px] bg-white p-20 overflow-hidden relative max-md:px-10"
>
  <img
    class="absolute w-[70%] h-auto max-md:w-[100%] top-[200px] max-md:top-[100px] max-md:right-[-20%] max-md:scale-125"
    src="public/images/sectionCTA/mockup-sectionCTA.svg"
    alt="Mockup-detailEvent"
  />
  <div class="flex justify-center flex-col items-center bottom-[-800px] max-md:bottom-[-300px] z-10">
    <p
      class="font-geist font-normal text-base leading-[120%] flex flex-wrap text-center max-w-[788px] text-black mb-10  "
    >
      Explora lo mejor del rock en vivo. Desde los festivales más icónicos hasta
      los conciertos underground, RockTicket te conecta con la música que amas.
    </p>
    <Button title="Empieza ahora"/>
  </div>
</section>
